In [48]:
import pandas as pd
from pandas import DataFrame

from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [49]:
path: str = r"D:\Documents\GitHub\UNI_Stellar_Classification\Data\star_classification_only_features.csv"
data: DataFrame = pd.read_csv(path, index_col="index")
data.drop(["Unnamed: 0"], axis=1, inplace=True)

In [50]:
data.head()

,u,g,r,i,z,redshift,plate,class
index,,,,,,,,
0,23.87882,22.27530,20.39501,19.16573,18.79371,0.634794,5812,GALAXY
1,24.77759,22.83188,22.58444,21.16812,21.61427,0.779136,10445,GALAXY
2,25.26307,22.66389,20.60976,19.34857,18.94827,0.644195,4576,GALAXY
3,22.13682,23.77656,21.61162,20.50454,19.25010,0.932346,9149,GALAXY
4,19.43718,17.58028,16.49747,15.97711,15.54461,0.116123,6121,GALAXY

In [51]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 99999 entries, 0 to 99999
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   u         99999 non-null  float64
 1   g         99999 non-null  float64
 2   r         99999 non-null  float64
 3   i         99999 non-null  float64
 4   z         99999 non-null  float64
 5   redshift  99999 non-null  float64
 6   plate     99999 non-null  int64
 7   class     99999 non-null  object
dtypes: float64(6), int64(1), object(1)
memory usage: 6.9+ MB

# Transform the target variable into numeric values

In [52]:
target_encoding: dict = {
    "GALAXY": 0,
    "QSO": 1,
    "STAR": 2
}

data["target"] = data["class"].map(lambda x: target_encoding[x])
data.target.unique()

array([0, 1, 2], dtype=int64)

# Rescale all features
for Trees and Ensemble methods this will not be necessary, however it can be beneficial for Logistic Regression Models and SVM Classifier.
Thus, a rescaled and non rescaled version of the dataset will be saved.

There are several methods how to rescale data such as Standardization or MinMaxScaling
Since it was observed that none of the features tends to be really close to a normal distribution,
standardization does not seem fit well for this data. Thus, MinMaxScaling is used

In [53]:
min_max_scaler = MinMaxScaler()
standard_scaler = StandardScaler()

# min max scale
min_max_scaled_data = min_max_scaler.fit_transform(data.drop(["class", "target"], axis=1), data["target"])
mm_scaled_data: DataFrame = DataFrame(data=min_max_scaled_data, columns=min_max_scaler.get_feature_names_out(), index=data.index)
mm_scaled_data["target"] = data.target

In [54]:
mm_scaled_data.head()

,u,g,r,i,z,redshift,plate,target
index,,,,,,,,
0,0.591347,0.558050,0.535344,0.427665,0.464377,0.091831,0.451592,0
1,0.632603,0.584423,0.646203,0.515986,0.607035,0.112389,0.828841,0
2,0.654888,0.576463,0.546218,0.435729,0.472194,0.093170,0.350949,0
3,0.511384,0.629186,0.596946,0.486717,0.487460,0.134210,0.723312,0
4,0.387463,0.335579,0.337999,0.287021,0.300043,0.017959,0.476753,0

In [55]:
data.head()

,u,g,r,i,z,redshift,plate,class,target
index,,,,,,,,,
0,23.87882,22.27530,20.39501,19.16573,18.79371,0.634794,5812,GALAXY,0
1,24.77759,22.83188,22.58444,21.16812,21.61427,0.779136,10445,GALAXY,0
2,25.26307,22.66389,20.60976,19.34857,18.94827,0.644195,4576,GALAXY,0
3,22.13682,23.77656,21.61162,20.50454,19.25010,0.932346,9149,GALAXY,0
4,19.43718,17.58028,16.49747,15.97711,15.54461,0.116123,6121,GALAXY,0

In [56]:
save_path: str = r"D:\Documents\GitHub\UNI_Stellar_Classification\Data\star_classification_preprocessed.csv"
data.drop(["class"], axis=1, inplace=True)
data.to_csv(save_path)

In [58]:
save_path_mm_scale: str = r"D:\Documents\GitHub\UNI_Stellar_Classification\Data\star_classification_preprocessed_min_max_scale.csv"
mm_scaled_data.to_csv(save_path_mm_scale, index=True)